<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="stylesheets/styles.css" />
	</head>
	<body>
		<h1 class="title">Welcome to Bill Gates Page</h1>
		<a href="/about" class="aboutLink">Go to About page</a>
		<a href="/works" class="worksLink">Go to Works page</a>
		<a href="/photo-gallery" class="photoLink">Go to Photo Gallery</a>
	</body>
</html>
